# --- 生产数据 (PERMANENTLY IGNORE) ---
*.db
*.db.bak
*.sqlite
server/*.db
server/game_storage.json
backups/

# --- 环境与安全 ---
.env
.env.local
.env.*.local

# --- 日志与缓存 ---
logs
*.log
npm-debug.log*
node_modules/
.DS_Store
dist/
dist-ssr/

# --- 编辑器配置 ---
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.sw?